 .game-container {
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: center;
    }
    .market-container {
      display: flex;
      flex-direction:column;
      align-content: center;
      justify-content: center;
      order: 2;
    }
    .play-container {
      order: 4;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 400px;         
      height: 200px; 
      background-color:#ccc;
      background-position: center;
      background-repeat: no-repeat;
    }
    .discard-container {
      display: flex;
      flex-direction: column;
    }
    .deck-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .bottom-player-row {
      order: 3;
    }
    .state-header {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #ccc;
    }


    .market-card-wrapper {
      display: flex;
      flex-direction: column
    }
    .market-buttons-row {
      display: flex;
      flex-direction: row;
    }

    .popup-box {
      display: flex;
      justify-content: center;
      padding-block: 10px;
      padding-left: 10px;
      padding-right: 10px;
      align-content: center;
      background-color: #ccc;
    }
    .market-row {
      display: flex;
      justify-content: center;
    }
    .market-col {
      flex: 50%
    }
    .upside-down {
      transform: rotate(180deg);  
    }

    .card {
      width: 50px;  /* Size of each card */
      height: 75px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      background-color: #f4f4f4;
    }
    .hand-container {
      display: flex;
      margin-top: 10px;
      flex-wrap: wrap;
      order: 4;
    }
    .player-board-wrapper {
      display: flex;
      flex-direction: row; /* Arrange board and stats side by side */
      align-items: flex-start;
      order: 1;
    }
    .player-board-container{
      display: flex;
      flex-direction: column; /* Align board and stats horizontally */
      justify-content: center;
      align-content: center;
      margin: 10px;
      padding: 10px;
      width: 600px; /* Adjust width for the whole player container */
    }
    .discard-deck-row{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  
    .deck-header{
      text-align: center;
      font-size: 14px;
    }
    .player-board {
      border-radius: 10px;
      padding: 20px;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .player-mat {
      border-radius: 10px;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .player-header {
      font-size: 1.5rem;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .play-area{
      width: 100%;
      margin-bottom: 10px;
      height: 200px;
      background-color: #fafafa;
      border: 2px solid #ccc;
    }


    .stats-list {
      text-align: left;
      font-size: 14px;
      padding: 5px;
      margin-top: 10px;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
    .left-side {
      order: -1;
    }
    .token {
      width: 20px;
      height:20px;
    }
  




